
#bgvid {
  position: fixed;
  top: 30%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("www.cortlandthibodeau.com/Pictures/cortlandthibodeau.png") no-repeat;
  background-size: cover;
}

main {
  background: #fff;
}

.jumbovidtext {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.jumbotron {
  background: rgba(0, 0, 0, 0.7);
  margin: 160px 0 120px;
  overflow-y: hidden;
}

.title-md {
  font-size: 75px;
}

.title-band {
  padding-top: 50px;
}

.card-img-top {
  height: 250px;
}

.card {
  width: 350px;
}

@media only screen and (max-device-width: 700px) {
  .title-md {
    font-size: 50px;
  }

  .title-band {
    padding-top: 75px;
  }

  .card-img-top {
    height: 200px;
  }

  .card {
    width: 280px;
  }

  #instafeed img {
    width: 280px;
    height: 280px;
  }

  /*------------*/

  .jumbotron {
       background: url("../img/title-bands/clouds.jpg") #000 no-repeat center center fixed;
  }
  #bgvid {
      display: none;
  }
}

body {
  margin-top: 55px
}

.head-banner {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px;
}

.text-white {
  color: white;
}

.info-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-lg {
  font-size: 100px;
}

.font-md-weight {
  font-weight: 300;
}

.font-lt-weight {
  font-weight: 300;
}

.img-info-text {
  margin-top: 15px;
}

.band-content {
  margin-top: 40px;
}

.head-bg {
  background: transparent;
}

.info-bg {
  height: 200px;
  background: transparent;
}

.band {
  padding-top: 75px;
  padding-bottom: 75px;
}

.circular-img {
    object-fit: cover;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}

.card {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.brand-img {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  margin-top: 15px;
  margin-bottom: 15px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:350px;
   top:350px;
   margin-top:-350px;
}

.rm-band {
  height: 520px;
  background-image: url('../img/title-bands/RM_Thunderbolt.jpg');
  background-position: center 70px;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: #303030;
  padding-bottom: 30px;
}

.sm-link {
  margin: 20px;
  color: white;
}

.sm-link:hover {
  color: lightgrey;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-img {
  width: 100px;
  padding: 4px 0;
  /*margin-bottom: 10px;*/
}
