---
---

<html>

  {% include header.html %}

  <body class="font-modern">
    <div class="section slug-white">
      <div class="text-center">
        <!-- <div class="pad30">
          <img height="100px" src="images/site/logo.png">
        </div> -->
        <h1 class="heading section-heading">Wrong turn!</h1>
        <p class="paragraph secondary-color pad20">We all make them. Head back to our main page to get directions.</p>
        <div class="pad20">
          <a class="button button-primary" href="/">Go back</a>
        </div>
      </div>
    </div>

    {% include footer.html %}
      
  </body>

</html>
