<footer id="contact" class="section text-center slug-white background background-white">
    
    <div class="bg">
        <div class="bg-image" style="background-image: url(&quot;images/bg/wall.jpg&quot;);"></div>
    </div>

    <div class="container-lrg flex wrap">
        
        <div class="col-2"></div>
        
        <div class="col-8">
            <div class="card flex mobile-flex-wrap" style="background-color: white;">
                <div class="col-12 pad30 flex flex-column spread">
                    <div class="mb20">
                        <div class="center-horizontal flex flex-column">
                            <div class="footer-image mb20" style="background-image: url(&quot;images/site/logo.png&quot;);"></div>
                        </div>
                        <b class="heading section-heading primary-color">The Jumping Slug</b>
                        <h4 class="bold primary-color">Community Cyclery</h4>
                        <p class="paragraph pad10 secondary-color"></p>
                        <p class="paragraph secondary-color">{{ site.address }}</p>
                        <p class="paragraph secondary-color">{{ site.hours.hours_1 }}</p>
                        <p class="paragraph secondary-color">{{ site.hours.hours_2 }}</p>
                        <p class="paragraph secondary-color">{{ site.email }}</p>
                        <p class="paragraph secondary-color">{{ site.phone }}</p>
                        <p class="paragraph secondary-color pad20">
                            <a class="pad10" href="{{ site.instagram_link }}" target="_blank">
                                <i class="fa fa-instagram fa-2x"></i>
                            </a>
                            <a class="pad10" href="{{ site.facebook_link }}" target="_blank">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>