<title>The Jumping Slug Community Cyclery</title>
<meta charSet="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="The Jumping Slug Community Cyclery (formerly Ozzie's Cycle). We're a small bike shop with big hearts located in Port Alberni, BC.">
<meta property="og:image" content="https://cdn.launchaco.com/images/23c71864-e53e-4b26-b16a-09d5e75d8275.png">
<link rel="shortcut icon" href="images/logo_small.png" />
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet">

<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/color.css">
<link href="https://fonts.googleapis.com/css?family=Germania+One|Open+Sans|Sedgwick+Ave" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kenia&family=Carter+One&family=Manrope:wght@500;800&&family=Oi&display=swap" rel="stylesheet">

<script src="https://use.fontawesome.com/ed141aaa80.js"></script>