<div class="background background-white">
    <div class="bg">
      <div class="bg-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.477),rgba(255, 255, 255, 0.009)), url(&quot;images/bg/title.jpg&quot;);"></div>
    </div>
    
    {% include nav.html %}

    <section class="section">
      <div class="container mb40">
        <div class="col-12 text-center">
          <h1 class="heading-md site-title bg-heading">The</h1>
          <h1 class="heading-lrg site-title bg-heading">Jumping Slug</h1>
          <h1 class="heading site-title bg-heading">Community Cyclery</h1>
          
          {% if site.notice.has_notice %}
          <div class="col-12 mt30">
            <div class="card pad20" style="background-color: white;">
              <h4 class="mb10">⚠️ Notice ⚠️</h4>
              <p>{{ site.notice.text }}</p>
            </div>
          </div>
          {% endif %}
          
          <div class="mt50">
            <a href="tel:{{ site.phone }}" target="_blank" class="button button-primary mobile-text-center mt10 mr10">
              <span> Give us a call! </span>
            </a>
            <a href="mailto:{{ site.email }}" target="_blank" class="button button-secondary mobile-text-center mt10">
              <span> Shoot us an email! </span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>