<section id="services" class="section peach-white background background-white" sitemeta="[object Object]" activepage="Landing">
    
    <div class="bg">
        <div class="bg-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.01)), url(&quot;images/bg/service1.jpg&quot;);"></div>
    </div>
    
    <div class="container mb75 text-center">
        <div class="col-12">
            <h4 class="heading primary-color" style="font-family: 'Carter One', system-ui; color: white; text-shadow: 1px 2px #8c1ac4, 2px 3px #ed702d, 3px 4px #93f197, 4px 5px #ea33f7;">{{ site.service_page.top_title }}</h4>
            <p class="bold paragraph secondary-color" style="color: white; text-shadow: 1px 1px #232323">{{ site.service_page.top_text }}</p>
        </div>
    </div>

    <div class="container-lrg mb35">
        <div class="col-12">
            <div class="card flex mobile-flex-wrap" style="background-color: white;">
                {% for service in site.service_packages %}
                <div class="col-3 pad30 flex flex-column spread">
                    <div class="mb20">
                    <h4 class="bold primary-color">{{ service.primary_name }}</h4>
                    <div><b class="secondary-color">{{ service.secondary_name }}</b></div>
                    <div><b class="heading primary-color pt10" style="font-family: 'Carter One', system-ui;">{{ service.price }}</b></div>
                    <ul class="mt10">
                        {% for item in service.items %}
                        <li class="flex mb20">
                        {% include checkmark.html %}
                        <span class="span secondary-color">{{ item.name }}</span>
                        </li>
                        {% endfor %}
                        <li class="flex mb20">
                        <span class="span secondary-color"><b>*</b> {{ service.note }}</span>
                        </li>
                    </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container mb20 text-center">
        <div class="col-12">
            <h4 class="heading primary-color" style="font-family: 'Carter One', system-ui; color: white; text-shadow: 1px 2px #8c1ac4, 2px 3px #ed702d, 3px 4px #93f197, 4px 5px #ea33f7;">{{ site.service_page.middle_title }}</h4>
            <p class="bold paragraph secondary-color" style="color: white">{{ site.service_page.middle_text }}</p>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="card flex mobile-flex-wrap pad20" style="background-color: white;">
                <div class="col-6 flex-column">
                    <ul>
                        {% for item in site.service_individuals.left_side %}
                        <li class="flex mb10">
                            <span class="secondary-color flex">
                            <div style="width: 60px; text-align: right; padding-right: 10px;"><b>{{ item.price }}</b></div> {{ item.name }}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-6" style="border: 0;">
                    <ul>
                        {% for item in site.service_individuals.right_side %}
                        <li class="flex mb10">
                            <span class="secondary-color flex">
                            <div style="width: 60px; text-align: right; padding-right: 10px;"><b>{{ item.price }}</b></div> {{ item.name }}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>