<section id="medium-4" class="section peach-white background background-white" sitemeta="[object Object]" activepage="Landing">
    <div class="bg">
      <div class="bg-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.25)), url(&quot;images/bg/service_door.jpg&quot;);"></div>
    </div> 
    <div class="container mb75 text-center">
      <div class="col-12">
        <a href="https://www.instagram.com/thejumpingslugcyclery/" target="_blank"><h3 class="heading primary-color" style="font-family: 'Carter One', system-ui; color:white; text-shadow: 1px 2px #8c1ac4, 2px 3px #ed702d, 3px 4px #93f197, 4px 5px #ea33f7;">#sluglife <i class="fa fa-instagram"></i></h3></a>
        <p class="subheading secondary-color" style="color:white;"><a href="https://www.instagram.com/thejumpingslugcyclery/" target="_blank">Check out our latest posts and updates on Instagram.</a></p>
      </div>
    </div>
  </section>