<header class="header">
    <div class="container-lrg">
      <div class="flex col-12 spread">
        <a class="logo">
          <img src="images/site/logo.png" alt="Jumping Slug Company Logo">
        </a>
        <a href="#main-menu" id="menu" class="menu-toggle">
          <b class="nav-link mr0" style="color: white">☰</b>
        </a>
        <nav id="main-menu" role="navigation" class="main-menu">
          <a href="#" id="main-menu-close" class="menu-close">
            <span class="bold">✕</span>
          </a>
          <a href="#faq" class="nav-link secondary-color">About</a>
          <a href="#services" class="nav-link secondary-color">Services</a>
          <a href="#rentals" class="nav-link secondary-color">Rentals</a>
          <a href="#contact" class="nav-link secondary-color">Contact</a>
        </nav>
      </div>
    </div>
  </header>